/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  height: 200px
}

.cards{
  background: #DBE6F6;
background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);
background: linear-gradient(to right, #C5796D, #DBE6F6);

}
